<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erreur</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .error-message {
            color: red;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>Erreur</h1>
    <p class="error-message" th:text="${error}"></p>
    <a href="/" style="text-decoration: none; color: blue;">Retour à la page d'accueil</a>
</body>
</html>
